@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font: 100% "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

section {
  overflow-x: hidden;
}

header {
  background-image: url("../media/homapage-banner-img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

nav {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  padding-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  color: #fff;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  list-style: none;
  padding: 30px;
}

.about_dj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.about_dj .about {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 13em;
  height: 250px;
}

.about_dj h2 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 2px;
  margin: 0;
}

.about_dj p {
  font-size: 0.8em;
  font-weight: 200;
  margin: 0;
}

.about_dj figure {
  margin: auto;
  padding: 10em 5em 8em 17em;
}

.about_dj img {
  width: 427px;
  border-radius: 5px;
}

.about_dj q {
  quotes: none;
  font-size: 1.3em;
  font-weight: 200;
  display: block;
  padding-block: 28px;
  position: relative;
}

.about_dj q::before {
  position: absolute;
  content: ' " ';
  color: blueviolet;
}

.listen {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../media/homepage-latest-releases-background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../media/homepage-latest-releases-background.jpg");
  background-size: cover;
  background-position: center;
  height: 24em;
  width: 100%;
}

.listen h2 {
  color: white;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  padding-top: 140px;
  margin: 0;
  height: 0px;
}

.listen a {
  text-decoration: none;
  color: white;
  background-color: #8121e0;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  height: 25px;
}

.latest_releases .intro_releases {
  text-align: center;
  padding: 130px 420px 0px 420px;
}

.latest_releases .intro_releases h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 5px;
}

.latest_releases .intro_releases p {
  font-size: 13.5px;
  margin: 0;
  padding-bottom: 70px;
  letter-spacing: -0.5px;
}

.latest_releases .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1020px;
  padding-bottom: 150px;
}

.latest_releases .album figure {
  margin: auto;
  text-align: center;
  width: 314.5px;
  height: 336.6px;
}

.latest_releases .album img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.latest_releases .album h3 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.latest_releases .album p {
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0;
}

.fanbase {
  background-color: #282828;
  background-image: url("../media/bg-circle-1.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 200px;
}

.fanbase .intro {
  margin-right: 70px;
}

.fanbase .txt_fanbase {
  color: white;
  height: 800px;
  width: 450px;
  float: right;
  margin-right: 180px;
  margin-top: 120px;
}

.fanbase .txt_fanbase li {
  margin: 0;
  padding: 0 30px;
}

.fanbase .txt_fanbase ul {
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fanbase .txt_fanbase h2 {
  font-size: 30px;
  font-weight: 600;
}

.fanbase .txt_fanbase p {
  font-size: 13px;
  font-weight: 200;
}

.fanbase .txt_fanbase h3 {
  font-size: 21px;
  font-weight: 400;
}

.fanbase .imgfanbase {
  height: 800px;
  width: 700px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
}

.fanbase .imgfanbase .fanbase1 {
  width: 174px;
  height: 128px;
  border-radius: 4px;
  position: relative;
  left: 10.5em;
  top: 2em;
}

.fanbase .imgfanbase .fanbase2 {
  width: 235px;
  height: auto;
  border-radius: 4px;
  position: relative;
  left: 4em;
  top: 1em;
}

.fanbase .imgfanbase .fanbase3 {
  border-radius: 4px;
  width: 190px;
  height: auto;
  position: relative;
  left: 8.2em;
  bottom: 3em;
}

.fanbase .imgfanbase .fanbase4 {
  border-radius: 4px;
  width: 285px;
  height: auto;
  position: relative;
  left: 4.5em;
  bottom: 5em;
}

.fanbase .imgfanbase .fanbase5 {
  border-radius: 4px;
  width: 190px;
  height: auto;
  position: relative;
  left: 10em;
  bottom: 9.8em;
}

.fanbase .imgfanbase .fanbase6 {
  border-radius: 4px;
  width: 230px;
  height: auto;
  position: relative;
  left: 5.5em;
  bottom: 11em;
}

.tourschedule h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
}

.tourschedule .cadre .months {
  background-color: black;
  border-radius: 8px 8px 0% 0%;
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 950px;
  margin: auto;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.tourschedule .cadre .months .white {
  color: white;
}

.tourschedule .cadre .places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 948px;
  border: solid #D4D4D4 1px;
  margin: auto;
}

.tourschedule .cadre .places .dates {
  font-weight: 300;
  font-size: 16px;
  width: 520px;
  margin: auto;
}

.tourschedule .cadre .places h3 {
  font-weight: 400;
  font-size: 20px;
  width: 520px;
  margin: auto;
}

.tourschedule .cadre .places p {
  font-size: 12.5px;
  letter-spacing: -0.1px;
  width: 520px;
  margin: auto;
}

.tourschedule .cadre .places a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tourschedule .cadre .places a .fleche {
  letter-spacing: -6px;
  font-size: 19px;
  font-weight: 300;
}

.parteners {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../media/homepage-sponsors-background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../media/homepage-sponsors-background.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
}

.parteners h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 80px 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0.5;
  margin: 0 180px;
}

.logo .logo1 {
  height: 80px;
}

.logo .logo2 {
  height: 25px;
  margin-top: 35px;
}

.logo .logo3 {
  height: 65px;
}

.logo .logo4 {
  height: 50px;
  margin-top: 25px;
}

.tickets {
  width: 90rem;
  margin: auto;
  overflow: visible;
}

.tickets h2 {
  text-align: center;
  font-size: 33px;
  font-weight: 600;
  margin-top: 80px;
}

.tickets .tarifs {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tickets .tarifs h3 {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.tickets .tarifs p {
  font-weight: 400;
  font-size: 90px;
  margin: auto;
}

.tickets .tarifs p .dollar {
  font-size: 20px;
  position: relative;
  left: 1em;
  bottom: 2em;
}

.tickets .tarifs ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 15px 0;
}

.tickets .tarifs ul li {
  padding: 0;
  margin-bottom: 8px;
  font-size: 12px;
  letter-spacing: -0.3px;
}

.tickets .tarifs .standard {
  border-left: solid gray 1px;
  border-right: solid gray 1px;
  width: 350px;
  height: auto;
  margin: 0;
}

.tickets .tarifs .basic {
  margin-left: 200px;
}

.tickets .tarifs .gold {
  margin-right: 200px;
}

.tickets .tarifs a {
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
}

.tickets .tarifs a::before {
  content: "";
  position: absolute;
  width: 7.6rem;
  height: 3rem;
  border-radius: 5px;
  border: solid black 1px;
  border-radius: 5px;
  left: 0%;
  right: 10%;
  top: 4%;
}

.tickets .tarifs a:hover {
  background: purple;
  color: white;
  width: 18px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 6px #DDDDDD;
          box-shadow: 10px 10px 6px #DDDDDD;
}

@-webkit-keyframes box {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes box {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tickets .tarifs a:hover::before {
  -webkit-animation: box 0.1s forwards ease-out;
          animation: box 0.1s forwards ease-out;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.pictures .img1 {
  width: 33.1%;
  height: 100%;
}

.pictures .img2 {
  width: 33.4%;
  height: 100%;
}

.pictures .img3 {
  width: 33.4%;
  height: 100%;
}

.pictures .img4 {
  width: 45em;
  height: auto;
}

.pictures .img5 {
  width: 45.5em;
  height: auto;
}

.violetSquare {
  width: 30px;
  height: 40px;
  outline: 2px solid #8021E1;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */