//1ere partie "About DJ Angerone"
.aboutdj {
  margin: 5em 0 2em 0;

  .about_dj {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;

    img {
      width: 26em;
      border-radius: 0.313em;
    }
  }

  .about {
    margin-top: 4em;

    h2 {
      font-size: 2em;
      font-weight: 600;
      text-align: left;
      margin: 0;
    }

    p {
      font-size: 0.79em;
      font-weight: 200;
      margin: 0;
      text-align: left;
    }
    q {
      quotes: none;
      font-size: 1.3em;
      font-weight: 200;
      display: block;
      position: relative;
      text-align: left;
      left: 1em;
      margin: 1em 0;

      //" qui se trouve en arrière plan
      &::before {
        position: absolute;
        content: ' " ';
        color: blueviolet;
        font-size: 10em;
        opacity: 0.2;
        bottom: -0.19em;
        transform: rotate(190deg);
      }
    }
  }
}

// Fanny
// Partie 2 Listen to the Latest Releases by DJ Angerone
.listen {
  display: grid;
  justify-items: center;
  justify-content: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../media/homepage-latest-releases-background.jpg");
  background-size: cover;
  background-position: center;
  height: 24em;
  width: 100%;

  h2 {
    color: white;
    font-weight: 400;
    font-size: 1.875em;
    text-align: center;
    padding-top: 4.8em;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: white;
    background-color: #8121e0;
    padding: 0.75em 1.563em;
    border-radius: 0.313em;
    font-weight: 500;
    font-size: 0.875em;
    text-align: center;
    height: 1.8em;
    position: relative;
  }

  a::before {
    content: "";
    position: absolute;
    width: 7.6rem;
    height: 3rem;
    border-radius: 0.313em;
    left: 0;
    right: 10%;
    top: 4%;
  }

  a:hover {
    background: #8121e0;
    opacity: 0.5;
    color: white;
    border-radius: 0.313em;
    box-shadow: 0.625em 0.625em 0.375em black;
  }

  @keyframes box {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  a:hover::before {
    animation: box 0.1s forwards ease-out;
  }
}

// Fanny
// Partie 3  Latest Releases

.latest_releases {
  .intro_releases {
    text-align: center;
    margin: auto;
    max-width: 41em;


    h2 {
      margin: 3em 0 0 0;
      font-size: 2em;
      font-weight: 600;
      padding-bottom: 0.5em;
    }

    p {
      font-size: 0.8em;
      padding-bottom: 4.375em;
    }
  }

  //Utilisation flex pour alligner les pochettes d'albulm

  .album {
    max-width: 70em;
    display: flex;
    margin: auto;
    justify-content: space-between;


    h3 {
      font-weight: 400;
      font-size: 1.25em;
      text-align: center;
      margin: 0;
      padding-top: 0.625em;
    }
    p {
      font-weight: 200;
      font-size: 0.75em;
      text-align: center;
      margin: 0;
      padding-bottom: 4em;
    }
  }
}

//Fanny
// Partie 3 - Fan base

.mainfanbase {
  background-color: #282828;
  background-image: url("../media/bg-circle-1.png");
  background-size: cover;
  background-position: center;
  min-height: 55em;
  display: flex;
  align-items: center;
  padding: 1em;
  @media (max-width:786px)
  {
    flex-direction: column;
    justify-content: center;
  }
  .imgfanbase {
    height: 54em;
    width: 40%;
    position: relative;
    display: flex;
    flex-wrap: wrap;


    .fanbase1 {
      width: 10.875em;
      height: 8em;
      border-radius: 0.25em;
      position: relative;
      left: 10.5em;
      top: 2em;
    }

    .fanbase2 {
      width: 14.688em;
      height: auto;
      border-radius: 0.25em;
      position: relative;
      left: 4em;
      top: 1em;
    }

    .fanbase3 {
      border-radius: 0.25em;
      width: 11.875em;
      height: auto;
      position: relative;
      left: 8.2em;
      bottom: 3em;
    }

    .fanbase4 {
      border-radius: 0.25em;
      width: 17.813em;
      height: auto;
      position: relative;
      left: 4.5em;
      bottom: 5em;
    }

    .fanbase5 {
      border-radius: 0.25em;
      width: 11.875em;
      height: auto;
      position: relative;
      left: 10em;
      bottom: 9.8em;
    }

    .fanbase6 {
      border-radius: 0.25em;
      width: 14.375em;
      height: auto;
      position: relative;
      left: 5.5em;
      bottom: 11em;
    }
  }

  .txt_fanbase {
    color: white;


    h2 {
      font-size: 1.875em;
      font-weight: 600;
    }

    p {
      font-size: 0.813em;
      font-weight: 200;
    }

    h3 {
      font-size: 1.313em;
      font-weight: 400;
    }

    li {
      margin: 0;
      padding: 0 1.875em;
      list-style: none;
    }
  }
}

//FANNY
//Partie 4 Tour Schedule

.tourschedule {
  h2 {
    text-align: center;
    font-size: 1.875em;
    font-weight: 600;
    margin-bottom: 2em;
    margin-top: 3em;
  }


  .cadre {
    max-width:1240px;
    padding: 1em;
    margin: 3em auto;
    .months {
      background-color: black;
      border-radius: 0.5em 0.5em 0 0;
      color: gray;
      display: flex;
      justify-content: center;
      height: 6.25em;
      max-width:1240px;
      margin: auto;
      font-weight: 500;
      text-align: center;
      list-style: none;
      li
      {
        margin: .5em 1em;
      }
      li::before {
        content: "";
        position: absolute;
      }

      li:hover {
        color: white;
        border-bottom: solid #8121e0 0.2em;
      }

      @keyframes line {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      li:hover::before {
        animation: line 0.1s forwards ease-out;
      }
    }

    .places {
      display: flex;
      flex-direction: column;
      max-width: 1240px;
      border: solid #d4d4d4 0.1em;
      margin: auto;
      list-style: none;

      .dates {
        font-weight: 300;
        font-size: 1em;
        margin: auto;
      }

      h3 {
        font-weight: 400;
        font-size: 1.25em;

        padding-left: 9em;
      }

      p {
        font-size: 0.781em;

        padding-left: 9em;
      }

      .explications {
        padding-left: 14.5em;
      }

      a {
        text-decoration: none;
        color: black;
        font-size: 0.813em;
        font-weight: 500;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

// FANNY
//Partie 5 Sponsors

.parteners {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../media/homepage-sponsors-background.jpg");
  background-size: cover;
  background-position: center;
  height: 27em;
  width: 100%;

  h2 {
    color: white;
    text-align: center;
    font-size: 1.9em;
    font-weight: 600;
    padding-top: 3em;
  }
}

.logo {
  display: flex;
  justify-content: space-around;
  opacity: 0.5;
  flex-wrap: wrap;
  padding: 3em 5em;

  .logo1 {
    height: 5em;
    margin: 2em;
  }

  .logo2 {
    height: 1.563em;
    margin: 2em;
  }

  .logo3 {
    height: 4.063em;
    margin: 2em;
  }
  .logo4 {
    height: 3.125em;
    margin: 1.563em;
    margin: 2em;
  }
}

.tickets {
  max-width: 1240px;
  width: 100%;
  margin: auto;
  overflow: visible;

  h2 {
    text-align: center;
    font-size: 2.063em;
    font-weight: 600;
    margin-top: 5em;
  }

  .tarifs {
    div
    {
      margin: 2em 0;
    }
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    h3 {
      font-weight: 300;
      font-size: 0.938em;
    }

    p {
      font-weight: 400;
      font-size: 5.625em;
      margin: auto;

      .dollar {
        font-size: 0.2em;
        position: relative;
        left: 1em;
        bottom: 2.5em;
      }
    }

    ul {
      flex-direction: column;
      text-align: center;
      padding: 0.938em 0;

      li {
        list-style: none;
        padding: 0;
        margin-bottom: 0.5em;
        font-size: 0.75em;
      }
    }

    .standard {
      border-left: solid gray 0.063em;
      border-right: solid gray 0.063em;
      width: 21.875em;
      height: auto;
      margin: 0;
    }

    // annimation bourons Buy Now
    a {
      color: black;
      text-decoration: none;
      text-align: center;
      font-weight: 500;
      position: relative;
      padding: .938em 1.563em;
      border-radius: 1.563em;
    }

    a::before {
      content: "";
      position: absolute;
      width: 7.6rem;
      height: 3rem;
      border-radius: 0.313em;
      border: solid black 0.063em;
      left: 0;
      right: 10%;
      top: 4%;
    }

    a:hover {
      background: #8121e0;
      color: white;
      width: 1.125em;
      border-radius: 0.313em;
      box-shadow: 0.625em 0.625em 0.375em #dddddd;
    }

    @keyframes box {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    a:hover::before {
      animation: box 0.1s forwards ease-out;
    }
  }
}
.pictures {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7em;

  .img1 {
    width: 33.1%;
    height: 100%;
  }
  .img2 {
    width: 33.4%;
    height: 100%;
  }

  .img3 {
    width: 33.4%;
    height: 100%;
  }

  .img4 {
    width: 50%;
    height: 100%;
  }

  .img5 {
    width: 50%;
    height: 100%;
  }
}

#news1,#news2,#news3
{
  .titreSection {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 1em;
  }
  button {
    border-radius: 3px;
    background-color: #8121E0;
    margin-top: 2rem;
    border: 0;
    line-height: 2;
    padding: 1px 8px;

    a {
      color: white;
      font-size: 15px;
      text-transform: capitalize;
      text-align: center;
      font-weight: 600 ;
      text-decoration: none;
    }

  }
  .h4 {
    font-size: 26px;
    font-weight: normal;
    text-align: start;


  }

  .p {
    font-size: 15px;
    text-align: start;
    padding-top: 0;
  }

  .p2 {
    font-size: 18px;
    text-align: start;
    color:black;
    padding-top: 0;
  }

  img {
    padding-bottom: 3em;
    padding-top: 3em;
    width: 100px;
    height: 100px;
  }
}







.imageNewsBackground {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../media/homepage-news-background.jpg');
  background-size:cover;
  border-radius: 5px;
  >* {
    color:white;
  }


}

.homePageFooterBackground {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../media/homepage-footer-background.jpg");
  //background-image: url("../media/homepage-footer-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;

  .subscribe {
    position: absolute;
    color: #fff;
    width: 80%;
  }
  .subscribeBox
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:768px)
    {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }

  .inputsubscribe {
    height: 35px;
    width: 80%;
    padding: 1rem;
    border-radius: 5px;
    font-size: 17px;
    color: grey;
    font-family: "Poppins", sans-serif;
    margin: 0 1em;
  }

  .buttonsubscribe {

    margin: 1em;
    border: 0;
    line-height: 2.5;
    padding: 17px 40px;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: #8121E0;
    font-weight: 600 ;
  }

  #titleSubscribe {
    font-weight: 800;
    p {
      font-size: 3rem;
      color: white;
      text-align: center;
      margin-top: 8rem;
    }
  }

}
.container {
  position: relative;
  text-align: center;
}

footer {
  background-color: #282828;
  text-align: center;
  height: 50rem;

  .logoFooterAngerone {
    position: relative;
    padding-top: 10rem;
    width: 20rem;
  }

  .about {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  ul {
    padding: 0;
    margin-top: 2rem;
    color: white;
    font-size: 18px;
    font-weight: bold;

    a {
      color: white;
      text-decoration: none;
    }
  }
}
.social {
  display: flex;
  justify-content: center;
  list-style-type: none;

  ul {
    height: auto;
    margin-top: -2rem;

    i {
      font-size: 140%;
      border-radius: 80%;
      background-color: rgba($color: #444444, $alpha: 0.3);
      padding: 12px;
    }
  }
  p {
    font-size: 17px;
    text-align: center;
    color: grey;
    padding-top: 2rem;
    text-transform: initial;
  }
}

.carre {
  width: 70px;
  height: 70px;
  background: #8121E0;
  border-radius: 5%;
  margin-left: 100rem;
  margin-top: 5rem;
}

// *********************** Compte à rebours **********************************

.countdown
{
  width: 80vh;
 // border: 2px solid #8121E0;
  color: #fff;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  position:absolute;
  transform:translate(-50% , -50%);
  top: 100%;
  left: 50%;
}
.box
{

  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  box-shadow: 15px 15px 30px rgba(0,0,0,0.5);
  font-size:16px;
}
.box:after
{
  content:"";
  position: absolute;
  background-color: rgba(255,255,255,0.12);
  height: 100%;
  width: 50%;
  left: 0;

}

span.num
{
  background-color: rgba(129, 33, 224, 0.58);
  height:100%;
  width: 100%;
  display: grid;
  place-items: center;
  font-weight:600;
  font-size:5em;
}

span.text
{
  font-size:1.2em;
  background-color: #7529be;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  font-weight: 400;
}

@media screen and (max-width: 1024px)
{
  .countdown
  {
    width: 85vw;
  }
  .box
  {
    height: 26vmin;
    width: 26vmin;
    font-size:12px;


  }
}

@media screen and (max-width: 768px)
{
  .countdown
  {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .box
  {
    ;
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px)
{
  .countdown
  {
    width: 45vw;
    flex-wrap: wrap;
    gap: 15px;
  }
  .box
  {
  ;
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
  span.text
  {
    font-size: 1.5em;
  }
}