// --------------------- nav colors -----------------------------

$hoverColor : #8F929D;
$linkColor : #fff;

// ---------------------- menu hamburger Colors -----------------------

$menuHamPrimary : rgba(0, 0, 0, 0.8);
$menuHamOverlay : rgba(24,39,51,0.85);
$menuSpeed : 0.75s;